@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

:root {
  --e-color1: #0f172a;
  --e-color2: #09090b;
  --e-color3: #a1a1aa;
  --e-color4: #212123;
  --e-color5: #fafafa;
  --e-color6: #7f1d1d;
  --e-color7: #895cd6;
  --e-color8: #9b7ec9;
  --e-color9: #22055378;

  --e-spacingxs: 5px;
  --e-spacings: 10px;
  --e-spacingm: 15px;
  --e-spacingl: 20px;
  --e-spacingxl: 25px;
  --e-spacingxxl: 30px;

  --e-br: 5px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #e6e6e6;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffff;
    --foreground: #040404;
  }
}

@layer {
  :root {
    --e-color1: #111826;
    --e-color2: #09090b;
    --e-color3: #a1a1aa;
    --e-color4: #212123;
    --e-color5: #fafafa;
    --e-color6: #7f1d1d;
    --e-color7: #895cd6;
    --e-color8: #9b7ec9;
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Roboto', sans-serif;
}

/* En modo claro */
body[data-theme='dark'] input:-webkit-autofill {
  background-color: #0f172a !important;
  -webkit-box-shadow: 0 0 0 1000px #0f172a inset !important;
  -webkit-text-fill-color: white !important;
}

body[data-theme='light'] input:-webkit-autofill {
  background-color: #ffff !important;
  -webkit-box-shadow: 0 0 0 1000px #ffff inset !important;
  -webkit-text-fill-color: #040404 !important;
}
