@import 'tailwindcss';

@font-face {
  font-family: 'MiFuente';
  src: url('/fonts/Orbitron-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MiFuente';
  src: url('/fonts/Orbitron-Extrabold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0f172a;
    --foreground: #e6e6e6;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #ffff;
    --foreground: #040404;
  }
}

@layer {
  :root {
    --e-color1: #0f172a;
    --e-color2: #09090b;
    --e-color3: #2d2d2e;
    --e-color4: #212123;
    --e-color5: #fafafa;
    --e-color6: #7f1d1d;
    --e-color7: #895cd6;
    --e-color8: #9b7ec9;
    --e-color9: #22055378;
    --e-color10: #1e481e;
    --e-color11: #aaaaae;
  }
}
body {
  background: var(--background);
  color: var(--foreground);
}
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'MiFuente', 'Orbitron', 'sans-serif';
}
a,
p,
input,
textarea,
label,
option,
select {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* En modo claro */
body[data-theme='dark'] input:-webkit-autofill {
  background-color: #0f172a !important;
  -webkit-box-shadow: 0 0 0 1000px #0f172a inset !important;
  -webkit-text-fill-color: white !important;
}

body[data-theme='light'] input:-webkit-autofill {
  background-color: #ffff !important;
  -webkit-box-shadow: 0 0 0 1000px #ffff inset !important;
  -webkit-text-fill-color: #040404 !important;
}

.container {
  max-width: 1200px;
  margin: auto;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
